body
{
    background-color: whitesmoke;
margin: 0;
  padding: 0;
}
header
{
    background-color: black;
    font-size: 35px;
    text-align: center;
    color: white;
}
#logo
{
    width: 400px;
    height: 260px;
}
#navi {
    padding: 0;
    margin: 0;
    background-color: #8F8F8F;
    left: 0;
    right: 0;
}

li {
    text-align: center;
    list-style-type: none;
    display: inline;
    margin: 10px 2vw; }
.container {
  max-width: 800px;
  margin: 0 auto;
}

h4 {
  text-align: center;
  font-size: 35px;
}

.image {
  display: block;
  width: 343px;
  height: 357px;
  margin: 0 auto;
}

.text {
  text-align: justify;
  font-size: 22px;
}
.reserve
{
    font-size: 40px;
    text-align: center;
    color: white;
    border: solid;
    border-radius: 10px;
    background-color: #8F8F8F;
    margin-left: 650px;
}
h1
{
    text-align: center;
    font-family : 'Luxurious Script', cursive ;
}
h2
{
    text-align: center;
    font-size: 50px;
}
p
{
    text-align: center;
    font-size: 25px;
}
span
{
    font-weight: bold;
    font-size: 40px;
}
a
{
    text-decoration: none;
      color: gold;
box-shadow: 0px 0px 5px #888888;
    text-shadow: 2px 2px 2px #000;
    text-transform: uppercase;
    font-size: 17px;
}
img
{
    width: 700px;
    height: 350px;
    border-radius: 7px;
    border: black solid;
}
footer
{
    background-color: #8F8F8F;
    text-align: center;
    margin-top: 20px;
}